{{#partial "titulo"}}
Agregar Dispositivo
{{/partial}}
{{#partial "ancho"}}
30%
{{/partial}}
{{#partial "contenido"}}

   
      <form class="form-signin" action="/agregar-disp" method="POST">
      <br />
        <h4>Ingrese datos del dispositivo</h4>
         <br />
         <p>Tipo de dispositivo</p>
         <form action="">
		  <input type="radio" name="tipo" value="INTELIGENTE">Dispositivo Inteligente<br>
		  <input type="radio" name="tipo" value="ESTANDAR"> Dispositivo Estandar<br>
        <label for="nombre" class="sr-only">Nombre</label>
        <input type="text" id="nombre" name="nombre" class="form-control" placeholder="Nombre" required autofocus>
        <label for="descripcion" class="sr-only">Descripcion</label>
        <br />
        <input type="text" id="descripcion" name="descripcion" class="form-control" placeholder="Descripcion" required>
        <br />
        <input type="double" id="kWh" name="kWh" class="form-control" placeholder="KiloWatts que consume por hora" required>
        <br />
        <input type="double" id="horasDiarias" name="horasDiarias" class="form-control" placeholder="Horas de uso diarias" required>
        <br />
		<input type="checkbox" name="bajoConsumo" value="true">Es Bajo Consumo?<br>
		 <br />
        <button class="btn btn-lg btn-primary btn-block" type="submit">Agregar Dispositivo</button>
        {{#block "alerta"}}{{/block}}
        		</form>
        
      </form>


{{/partial}}

{{>layout.hbs}}