{{#partial "titulo"}}
Login
{{/partial}}
{{#partial "ancho"}}
40%
{{/partial}}
{{#partial "contenido"}}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

   <h3 style="color:black;">Acceso para administradores: </h3>
    <br /><br /><br />
      <form class="form-signin" action="/login-admin" method="POST">
      <br />
        <h4>Ingrese usuario y contrase&ntilde;a</h4>
         <br />
        <label for="user" class="sr-only">Usuario</label>
        <input type="text" id="user" name="user" class="form-control" placeholder="Usuario" required autofocus>
        <label for="password" class="sr-only">Contrasena</label>
        <br />
        <input type="password" id="password" name="password" class="form-control" placeholder="Contrase&ntilde;a" required>
        <br />
        <br />
        <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
        {{#block "alerta"}}{{/block}}
      </form>
      <br /><br /><br />
      <a href="/login">Ingreso para clientes</a>
<script>
$(document).ready(function(){
  $("body").css("background-size","100%");
  $("body").css("background-image", "url('http://papers.co/wallpaper/papers.co-nt31-interior-city-bokeh-light-nature-28-wallpaper.jpg')");
});
</script>

{{/partial}}

{{>mainLayout.hbs}}