
{{#partial "contenido"}}
<!DOCTYPE html>

<head>
  <meta charset="utf-8">
  <title>Home</title>
</head>

<body>

		 	<h3>Bienvenido al sistema!</h3>
		 	<br />
		 	Elija una opcion
		 	<li>
		 	<a href="/hogar">Estado del Hogar </a>
		 	</li>
		 	<li>
		 	<a href="/consumo">Consulta consumo por periodo </a>
		 	</li>
		 	<li>
		 	<a href="/carga">Carga de dispositivos </a>
		 	</li>
		 	<li>
		 	<a href="/simplex">Simplex </a>
		 	</li>
		 	<li>
		 	<a href="/reglas">Reglas </a>
		 	</li>
		 	<li>
		 	<a href="/hogar_consumo">Hogares y sus consumos</a>
		 	</li>
		 	
		 	

</body>
{{/partial}}
{{>mainLayout.hbs}}