
{{#partial "contenido"}}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!DOCTYPE html>

<head>
  <meta charset="utf-8">
  <title>Home</title>
</head>

<div id="isAdmin" hidden>{{esAdmin}}</div>

<body>
	
		 	<h2 style="padding-left:5px;">Consulta de estados, consumos y acciones</h2>
		 	<br />
		 	<h4 style="padding-left:5px;">Elija una opcion</h4>
		 	<br />
	<div class="container">
		<div class="row">
		<div style="float: left;width:40%;">
		<ul class="list-group list-group-flush">
		 	<li name="cliente" class="list-group-item">
		 	<a href="/hogar">Estado del Hogar </a>
		 	</li>
		 	<li name="cliente" class="list-group-item">
		 	<a href="/consumo">Consulta consumo por periodo </a>
		 	</li>
		 	<li name="cliente" class="list-group-item">
		 	<a href="/simplex">Hogar eficiente </a>
		 	</li>
		 	<li name="cliente" class="list-group-item">
		 	<a href="/reglas">Reglas y Dispositivos </a>
		 	</li>
		 	<li name="admin" class="list-group-item">
		 	<a href="/hogar_consumo">Hogares y sus consumos</a>
		 	</li>
		 	<li name="admin" class="list-group-item">
		 	<a href="/reportes">Reportes de consumos</a>
		 	</li>
		 	<li name="admin" class="list-group-item">
		 	<a href="/carga">Carga de dispositivos </a>
		 	</li>
		</ul>
		</div>
		<div style="float: left;width:60%;padding-left:70px;">
			<img src="https://mansion-global-app.s3.amazonaws.com/stories/year-ahead-2018-smart-home-technology/media/smarthomes_yearinreview_lead-mr.jpg" style="max-height: 175px;">
		</div>
	</div>
	</div>		
</body>
<script>
	var isAdmin = $("#isAdmin").html();
	if(isAdmin == "true"){
		$('[name="cliente"]').hide();
	}
	else{
		$('[name="admin"]').hide();
	}
</script>
{{/partial}}
{{>mainLayout.hbs}}