{{#partial "contenido"}}
<!DOCTYPE html>

<head>
	<meta charset="utf-8">
	<title>Analizar Empresas</title>
</head>

<body>

	<h1>Reglas y Dispositivos</h1>

	
		
	<div class="table-responsive">
		<h3>Dispositivos</h3>
	<table class="table">
		<tr>
			<th>Nombre</th>
			<th>Estado</th>
			<th> Dar de baja</th>
		</tr>
		{{#each dispositivos}}
		<tr>
			<td>{{nombreDisp}}</td>
			<td>{{estadoDisp}}</td>
			<td>
				<a class="btn btn-secondary" href="eliminar-disp/{{id}}">Eliminar</a>
			</td>
		</tr>
		{{/each}}
	</table>

	<div>
    	<a href="../"><input class="btn btn-primary btn-lg" value="Ir al menu principal"></a>
  	</div>
</body>
{{/partial}}
{{>layout.hbs}}