{{#partial "contenido"}}
<!DOCTYPE html>

<head>
	<meta charset="utf-8">
	<title>Analizar Empresas</title>
</head>

<body>

	<h2>Es un hogar eficiente?</h2>
	<div value={{eficiente}}> <h3>{{eficiente}} </h3></div>
	
	<h2>Recomendacion</h2>
	<div value={{recomendacion}}> <h3>{{recomendacion}} </h3></div>
	


	<div>
    	<a href="../"><input class="btn btn-primary btn-lg" value="Ir al menu principal"></a>
  	</div>
</body>
{{/partial}}
{{>layout.hbs}}