
{{#partial "contenido"}}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  
  
  <div class="alert alert-danger" role="alert" style="text-align:center">
  <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
 width="100px" height="100px" viewBox="0 0 512.000000 512.000000"
 preserveAspectRatio="xMidYMid meet">
<g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)"
fill="#a94442" stroke="#a94442">
<path d="M2485 4517 c-115 -30 -220 -112 -263 -208 -25 -54 -44 -153 -37 -194
3 -16 8 -45 11 -64 10 -60 61 -146 114 -195 29 -25 56 -46 61 -46 5 0 9 -53 9
-119 l0 -118 -202 -5 c-186 -5 -213 -8 -318 -36 -184 -49 -309 -107 -454 -211
-308 -220 -512 -576 -548 -958 l-12 -123 -111 0 c-86 0 -119 -5 -150 -19 -47
-22 -89 -64 -104 -104 -7 -18 -11 -149 -11 -358 0 -274 3 -336 15 -366 38 -91
86 -113 244 -113 l119 0 4 -142 c3 -136 4 -146 35 -210 55 -117 155 -194 283
-218 74 -14 2712 -14 2800 1 125 20 229 99 288 219 24 51 27 67 30 202 l4 146
132 4 c129 3 134 4 171 32 74 57 76 70 73 460 l-3 344 -31 39 c-52 66 -100 83
-231 83 l-113 0 0 51 c0 92 -37 287 -72 384 -170 466 -548 788 -1027 876 -75
14 -150 19 -263 19 l-158 0 0 116 0 115 58 54 c215 199 146 554 -126 650 -62
21 -159 27 -217 12z m-684 -2107 c144 -27 270 -127 338 -270 31 -65 36 -86 39
-167 5 -114 -19 -202 -78 -287 -51 -72 -54 -75 -126 -126 -229 -161 -559 -72
-685 185 -167 342 135 735 512 665z m1778 -16 c127 -42 258 -174 297 -299 55
-176 3 -370 -131 -493 -266 -243 -701 -104 -776 248 -52 241 101 487 341 553
78 21 189 17 269 -9z"/>
</g>
</svg>
  <h3><strong>¡Oh no!</strong><h3>
  <h4>Ha ocurrido un error no esperado...<h4>
  Vuelva al menú principal haciendo <a href="/" class="alert-link">click aquí.</a>
  </div>
  

{{/partial}}

{{>mainLayout.hbs}}