{{#partial "contenido"}}
<!DOCTYPE html>

<head>
	<meta charset="utf-8">
	<title>Hogares y sus consumos </title>
</head>

<body>
	
	<div class="table-responsive">
		<h3>Administracion de hogares</h3>
	<table class="table">
		<tr>
			<th>Hogares</th>
			<th>Consumo</th>
		</tr>
		{{#each clientes}}
		<tr>			<tr>
			<td>{{nombre}}</td>				<td>{{nombre}}</td>
			<td>{{consumo}}</td>				<td>{{consumo}}</td>
		</tr>			</tr>
		{{/each}}
	</table>
	
	
	<div>
    	<a href="../"><input class="btn btn-primary btn-lg" value="Ir al menu principal"></a>
  	</div>
</body>
{{/partial}}
{{>layout.hbs}}