{{#partial "ancho"}}
80%
{{/partial}}
{{#partial "navbar"}}
 <ul class="nav navbar-nav">
      <li style="" class="nav-item {{#block "activoCuentas"}}{{/block}}">
        <a class="navbar-brand" href="/logout">Log Out</a>
   	</li>
 </ul>
{{/partial}}
{{>layout.hbs}}