{{#partial "contenido"}}
<!DOCTYPE html>

<head>
	<meta charset="utf-8">
	<title>Analizar Empresas</title>
</head>

<body>

	<h2>Es un hogar eficiente?</h2>
	<div value={{eficiente}}> <h3>{{eficiente}} </h3></div>
	
	<h2>Recomendacion</h2>
		<div class="table-responsive">
		<h3>Dispositivos</h3>
	<table class="table">
		<tr>
			<th>Dispositivo</th>
			<th>Horas Maximas recomendadas</th>
		</tr>
		{{#each recHoras}}
		<tr>
			<td>{{dispositivo}}</td>
			<td>{{value}}</td>
		</tr>
		{{/each}}
	</table>
	


	<div class="form-row text-center">
    	<a href="../"><input class="btn btn-primary btn-lg" value="Volver" style="width:100px"></a>
  	</div>
</body>
{{/partial}}
{{>mainLayout.hbs}}